p {
    margin: 0;
}

.window {
    box-shadow: 0 36px 100px 0 rgba(0, 0, 0, 0.40), 0 0 3px 0 rgba(0, 0, 0, 0.55), inset 0 0 3px 0 rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    width: auto;
    height: 570px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 285px);
    left: calc(50% - 358px);
    overflow: hidden;

    .left {
        width: 214px;
        height: 100%;
        background:
            linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            rgba(246, 246, 246, 0.84);
        backdrop-filter: blur(30px) brightness(2);
        -webkit-backdrop-filter: blur(50px) brightness(2);

        .topbar {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            .wintools {
                display: inline-flex;
                margin-top: 20px;
                margin-left: 19px;

                .red {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background: #ff5f57;
                    border: solid 0.5px rgba(0, 0, 0, 0.2);
                    margin-right: 8px;
                }

                .yellow {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background: #febc2e;
                    border: solid 0.5px rgba(0, 0, 0, 0.2);
                    margin-right: 8px;
                }

                .green {
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background: #28c840;
                    border: solid 0.5px rgba(0, 0, 0, 0.2);
                }

                div:active {
                    filter: brightness(0.85);
                }
            }

            c-input {
                width: 200px;
                align-self: center;
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }

        .list {
            width: 100%;
            height: calc(100% - 48px);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            overflow-y: scroll;
            // margin-right: 4px;

            &::-webkit-scrollbar {
                background: transparent;
                width: 8px;
                height: 100%;
                margin-right: 4px;
                padding-right: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 100px;
                width: 8px !important;
                background: #a8a9a9;
            }

            .margin {
                width: 100%;
                min-height: 16px;
            }

            .selection {
                width: 180px;
                height: auto;
                border-radius: 5px;
                display: inline-flex;
                align-items: center;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-left: 4px;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    // margin-left: 5.5px;
                    filter: drop-shadow(0 1px 1px #0003);
                }

                p {
                    color: black;
                    margin-left: 6.5px;
                    font-size: 13px;
                    margin-right: 4px;
                }

                &.id {
                    .icon {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        margin-left: 3px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    p.title {
                        font-size: 13px;
                        font-family: "SFPro-Medium", "PingFangSC-Medium";
                    }

                    p.detail {
                        font-size: 11px;
                        opacity: 0.55;
                    }

                    &.focus {
                        p.title {
                            color: white;
                        }

                        p.detail {
                            color: white;
                        }
                    }
                }

                &.focus {
                    background: #0a82ff;

                    p {
                        color: white;
                    }

                    .icon {
                        filter: none;
                    }
                }
            }
        }
    }

    .edge {
        width: 1px;
        height: 100%;
        box-shadow: -1px 0 0.5px rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 214px;
        top: 0;
    }

    .right {
        width: 501px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .toolbar {
            width: 100%;
            height: 52px;
            display: inline-flex;
            align-items: center;

            .controls {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: 100%;
                padding: 0 10px;
                filter: invert(1);
                margin-left: 14px;

                img {
                    width: 10px;
                    // height: 36px;
                    margin-right: 14px;
                }
            }

            p {
                margin: 0;
                font-family: "SFPro-Semibold", "PingFangSC-Semibold";
                color: black;
                font-size: 15px;
            }
        }

        .main {
            width: 100%;
            height: 100%;
            // z-index: -2;

            .page {
                display: none;

                .row {
                    width: calc(100% - 60px);
                    height: auto;
                    margin-left: 20px;
                    margin-right: 20px;
                    padding: 10px;
                    border-radius: 6px;
                    border: solid 1px rgba(0, 0, 0, 0.04);
                    background: rgba(0, 0, 0, 0.02);
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index: -2;

                    p {
                        font-size: 13px;
                        align-self: flex-start;
                    }

                    .contents {
                        display: inline-flex;

                        .pic {
                            display: inline-flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin: 0 5px;

                            &:last-child {
                                margin-right: 0
                            }

                            img {
                                width: 86px;
                                border-radius: 6px;
                            }

                            p {
                                margin-top: 5px;
                                font-size: 11px;
                                margin-bottom: -2.5px;
                                opacity: 0.5;
                                align-self: center;
                            }

                            &.focus {
                                img {
                                    outline: solid #0a82ff 2.5px;
                                }

                                p {
                                    font-family: "SFPro-Semibold", "PingFang-Semibold";
                                    opacity: 1;
                                }
                            }
                        }

                        .oval {
                            width: 16px;
                            height: 16px;
                            border-radius: 8px;
                            outline: solid 1px rgba(0, 0, 0, 0.04);
                            margin-left: 5px;

                            &.all {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);

                                .overlay {
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 4px;
                                    background: white;
                                    outline: solid 1px rgba(0, 0, 0, 0.04);
                                }
                            }

                            &.blue {
                                background: #006fff
                            }

                            &.purple {
                                background: #8a358b
                            }

                            &.pink {
                                background: #F64694
                            }

                            &.red {
                                background: #DB3136
                            }

                            &.orange {
                                background: #f67719
                            }

                            &.yellow {
                                background: #FFC022
                            }

                            &.green {
                                background: #57B13D
                            }

                            &.gray {
                                background: #8D8D8D
                            }
                        }
                    }

                    &.first {
                        border-radius: 6px 6px 0 0;
                        border-bottom: solid 0.5px rgba(0, 0, 0, 0.04);
                    }

                    &.middle {
                        border-radius: 0;
                        border-top: solid 0.5px rgba(0, 0, 0, 0.04);
                        border-bottom: solid 0.5px rgba(0, 0, 0, 0.04);
                    }

                    &.last {
                        border-radius: 0 0 6px 6px;
                        border-top: solid 0.5px rgba(0, 0, 0, 0.04);
                    }
                }

                .margin {
                    width: 100%;
                    min-height: 16px;
                }

                &.focus {
                    display: initial;
                }

                .a {
                    font-family: "SFPro-Semibold", "PingFangSC-Semibold";
                    font-size: 24px;
                    align-self: center;
                    justify-self: center;
                }

                .b {
                    font-size: 16px;
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }
}