.finderbar {
    width: 100vw;
    height: 24px !important;
    /* M2+ MacBook 35px, normal Mac 24px */
    backdrop-filter: blur(50px) saturate(0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    // background: rgba(230, 230, 230, 0.47);

    &.macbook {
        height: 35px !important;
    }

    &.black-text {
        .left {
            color: black;
            text-shadow: none;
        }

        .right {
            color: black;
            text-shadow: none;

            img {
                filter: invert(1);
            }
        }
    }

    .left {
        display: inline-flex;
        align-items: center;
        color: white;
        text-shadow: 1px 2px 10px #0005;

        .logo {
            font-size: 16.3px;
            margin-left: 10px;
            // width: 33px;
            // margin-right: 9px;
        }

        .appname {
            font-family: "SFPro-Semibold", "PingFang-Semibold";
            font-weight: bold;
            font-size: 13px;
            /* margin-top: 0.75px; */
            letter-spacing: normal;
            margin-left: 0;
        }

        p {
            font-size: 13.5px;
            letter-spacing: -0.2px;
            padding: 0 10.5px;
            border-radius: 4px;
            height: 100%;
            text-align: center;
            line-height: 20px;
            font-family: "SFPro-Medium", "PingFangSC-Medium";

            &.active {
                background: #fafafa56;
            }
        }
    }

    .right {
        display: inline-flex;
        flex-direction: row-reverse;
        color: white;
        text-shadow: 1px 2px 10px #0005;
        align-items: center;
        /* justify-content: center; */

        img {
            transform: scale(0.5);
            /* transform: scale(0.1); */
            filter: drop-shadow(1px 2px 10px #0005);
            margin: 0 4px;
            width: auto;
            height: 18px;
        }

        .date {
            margin-left: 7px;
            margin-right: 7px;
            // white-space: nowrap;
            font-size: 13.5px;
            letter-spacing: -0.2px;
            font-family: "SFPro-Medium", "PingFangSC-Medium";
            line-height: 16px;
        }

        .time {
            // margin-left: 7px;
            margin-right: 17px;
            // white-space: nowrap;
            font-size: 13.5px;
            letter-spacing: -0.2px;
            line-height: 16px;
            font-family: "SFPro-Medium", "PingFangSC-Medium";
        }
    }
}