.desktop {
    width: 100%;
    height: 100%;
    display: flex;
    direction: rtl;
    margin-top: 24px;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: 2.5px; */
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;

    .item {
        width: 96px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px;

        img {
            width: 64px;
            height: auto;
        }

        p {
            color: white;
            text-shadow: 1px 2px 2px black, 1px 1px 3px black;
            font-size: 13px;
            font-family: "SFPro-Medium", "PingFangSC-Medium";
            margin-top: 5px;
        }
    }
}

.container {
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}